<div class="container" *ngIf="!isLoading; else loading">
  <div class="filters-section">
    <product-dashboard-filter></product-dashboard-filter>
  </div>
  <div class="main-content">
    <div class="cards-section">
      <product-card
        *ngFor="let product of productList"
        class="cards-section__card"
        [product]="product"
      ></product-card>
    </div>
  </div>
</div>
<ng-template #loading
  ><div class="container__loading">{{ "DATA_IS_LOADING" | translate }}</div></ng-template
>
